

<router-outlet></router-outlet>
{{title}}<br>
{{name}}<br>
{{getName()}}<br>
{{obj.name}}<br>
{{obj.father}}<br>
{{obj.age}}<br>
{{arr}}<br>
{{arr.length}}
<app-users-list [hero]="users"></app-users-list><br>
<app-login></app-login><br>
<app-signup></app-signup>
<button (click)="getthename()">click to get the name</button><br>
<!-- <button (click)="getthenames('emmanuelsaleem')">click to get the name</button><br>  not working why -->

<button (click)="myevent('some one click me')"> click here</button><br>
<!-- workin on key up -->
<input type="text" (keyup)="myevent('keyup ')"/><br><br>
<!-- working on key up and get the value -->
<input type="text" #box (keyup)="myevent(box.value)"/><br><br>
<!-- working on key up and enter butter -->
<input type="text" #box (keyup.enter)="myevent(box.value)"/><br><br>
<!-- space  -->
<input type="text" #box (keyup.space)="myevent(box.value)"/><br><br>
<p (mouseover)="myevent('mouserover')">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus quis aliquid omnis nisi nostrum nulla. Possimus totam beatae ipsum mollitia fugit adipisci nisi tempore reiciendis aspernatur quod, dolorem quas iusto!</p><br><br>
<p (mouseleave)="myevent('mouseleave')">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus quis aliquid omnis nisi nostrum nulla. Possimus totam beatae ipsum mollitia fugit adipisci nisi tempore reiciendis aspernatur quod, dolorem quas iusto!</p><br><br>
<!-- <input type="text" (keyup)="myevent($event.target.value)"/><br><br> not working why -->
<!-- bent the value into the input box -->
<input type="text" [disabled]="disabledbox" [value]="name"/><br><br>
<!-- other way -->
<input type="text" disabled="{{disabledbox}}" value={{name}}/><br><br>

<button (click)="enabel()">enable the box</button><br><br>
<p *ngIf="show else elsebox ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid mollitia qui corrupti veritatis aliquam dolorum fugiat quae illo. Fugit rem soluta deleniti iusto atque fuga! Explicabo ab aut molestias in.</p><br><br>
<ng-template #elsebox>
    <p>this the else box</p>
</ng-template>
<p *ngIf="show_string=='yes' else elsebox "> string value Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid mollitia qui corrupti veritatis aliquam dolorum fugiat quae illo. Fugit rem soluta deleniti iusto atque fuga! Explicabo ab aut molestias in.</p><br><br>
<ng-template #elsebox>
    <p>this the else box for string value</p>
</ng-template><br><br>
<ng-template [ngIf]="color=='red'">
<p>red color select</p>
</ng-template><br><br>
<ng-template [ngIf]="color=='gree'">
    <p>green color is select</p>

</ng-template><br><br>
<ng-template [ngIf]="color=='blue'" >
    <p>blue color select</p>

</ng-template><br><br>
<div class="clase" [ngSwitch]="colors">
    <p *ngSwitchCase="'red'">red</p><br>
    <p *ngSwitchCase="'blue'">blue</p><br>
    <p *ngSwitchCase="'green'">green</p>
</div><br><br>
<p *ngFor="let item of data">
    {{item}}
</p>
<div >
    <table border="1px">
        <tr>
            <th>name</th>
            <th>last name</th>
            <th>father</th>
        </tr>

        <tr *ngFor="let item of datas">
            <td>{{item.name}}</td>
            <td>{{item.last}}</td>
            <td>{{item.father}}</td>
        </tr>

    </table>

</div>
<app-herder></app-herder>
<div class="container">

        <form #userlogin = "ngForm" (ngSubmit) = "getformdata(userlogin.value)" >
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" ngModel name="email" id="email" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" name="password" ngModel id="password" placeholder="Password">
        </div>
        <button  class="btn btn-primary">Submit</button>
      </form>
</div>
<app-footer ></app-footer><br><br>

<button mat-button color="primary">Primary</button><br>
<button mat-button color="accent">Accent</button>
<br>
<mat-slider min="1" max="5" step="0.5" value="1.5"></mat-slider>

<app-use [hero]="users"></app-use><br><br>
<div *ngFor="let item of datas">
    <app-employes [data]="item"></app-employes>
</div>

<br><br>
<app-arrydata (parentconpontcontroler)="parentconpontcontroler($event)"></app-arrydata>

<br><br>
{{dat}}
<br><br>
{{name | lowercase}}<br><br>
{{name | uppercase}}<br><br>
{{name | titlecase}}<br><br>
{{date | date}}<br><br>
{{date | date:'fullDate'}}<br><br>
{{str | slice:2}}<br><br>
{{val | currency:'USD'}}<br><br>

<a routerLink="attendee"> Attendee</a><br><br>
<a routerLink="admin"> Admin</a><br><br>
<router-outlet></router-outlet><br><br>
<p appCustomstlye>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim dignissimos ipsum fuga esse voluptate magni debitis? Soluta neque, dolores deserunt perferendis iste laborum porro accusantium similique nihil assumenda sed ab!</p><br><br>
<p appCustomstlye>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim dignissimos ipsum fuga esse voluptate magni debitis? Soluta neque, dolores deserunt perferendis iste laborum porro accusantium similique nihil assumenda sed ab!</p><br><br>
{{item}} <br><br>
<!-- <table border="1">
    <tr>
        <th>userId</th>
        <th>id</th>
        <th>title</th>
        <th>body</th>
    </tr>
    <tr *ngFor="let item of usersdata">
        <td>{{item.userId}}</td>
        <td>{{item.id}}</td>
        <td>{{item.title}}</td>
        <td>{{item.body}}</td>
    </tr>

</table> -->
<br><br>

<ul>
    <li>
        <a routerLink="login">login page</a>
    </li>
    <li>
        <a routerLink="list"> list page</a>
    </li>
</ul>
<router-outlet></router-outlet>